<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-3.4.1.js"></script>
    <script>
        $(function(){

            $.get("/user/findAll",function(data,status){

                var htmlStr="";
                $.each(data,function(index,item){
                    htmlStr+="<tr><td>"+item.id+"</td><td>"+item.name+"</td><td>"+item.money+"</td></tr>"
                })
                $("#tbody").html(htmlStr);
            });

        });
    </script>
</head>
<body>
    <table>
        <thead>
            <th>编号</th>
            <th>姓名</th>
            <th>金额</th>
        </thead>
        <tbody id="tbody">

        </tbody>
    </table>
</body>
</html>